<div id='main_container'>
  <div id='left_column'>
    <team></team>
  </div>
  <div id='right_column'>
    <div id='menu'>
      <member></member>
      <img src="./../assets/App icons/icon_chat_01.svg" style="width:45px" routerLink="/chat" routerLinkActive="active">
      <img src="./../assets/App icons/icon_maps_01.svg" style="width:45px">
      <img src="./../assets/App icons/icon_share_01.svg" style="width:45px">
      <img src="./../assets/App icons/icon_images_02.svg" style="width:45px">
      <img src="./../assets/App icons/icon_winner_gradient.svg" style="width:45px; border-radius:4px;" routerLink="/auth" routerLinkActive="active">
    </div>
      <div id='app_container'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
